.container {
  display: flex;
}
.countContainer {
  position: relative;
}
.count {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  color: #162C4E;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}
.countTitle {
  position: absolute;
  bottom: 24px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}
