.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.link {
  z-index: 10;
}
.link:hover {
  cursor: pointer;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 104%;
  text-align: center;
  text-transform: uppercase;
  color: #b9b9ba;
  opacity: 0.39;
  margin: 0 0 8px;
  transition: 0.3s;
}
span {
  width: 423px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.subTitle {
  margin-bottom: 32px;
}
.buttonTitle {
  margin: 71px 0 12px;
  transition: 0.3s;
}
.goButton {
  display: flex;
  align-items: center;
  border-radius: 40px;
  width: 240px;
  height: 60px;
  padding: 16px 0 17px 28px;
}
.goButton div {
  width: 172px;
}

@media (max-width: 1600px) {
  .title {
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 36px;
    margin: 0 0 20px;
  }
  span {
    width: 300px;
    font-size: 16px;
  }
  .subTitle {
    width: 286px;
    margin-bottom: 32px;
  }
}


