button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  border: none;
  background: #1D4169;
  text-align: start;
}
button:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
a:active{
  text-decoration: none;
}
